<header>
  <nav>
    <% link_to "/", title: "Home Link - Andrew Vogel" do %>
      <%= image_tag "logo.png", class: "logo", alt: "Andrew Vogel - AV Monogram Logo" %>
    <% end %>
    <ul id="navLinks">
      <li><%= link_to "Home", "/index.html", title: "Home" %></li>
      <li><%= link_to "Uses", "/uses.html", title: "Uses" %></li>
      <li><%= link_to "Blog", "/blog.html", title: "Blog" %></li>
      <li><%= link_to "Contact", "mailto:andrewpvogel@gmail.com", title: "Contact Andrew Vogel" %></li>
    </ul>
    <div class="hamburger" role="button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
