---
title: Andrew Vogel - Blog
---

<%= stylesheet_link_tag 'blog_index' %>

<main class="slash-blog">
  <h1>The Blog</h1>
  <section>
    <ul>
      <%- blog.articles.each do |article| %>
        <li>
          <div class="blog-article">
            <%= image_tag article.data.featuredImage, class: "feature" %>
            <div class="blog-description">
              <div class="flex space-between flex-1 items-center">
                <h3>
                  <%= link_to article.title, article %>
                </h3>
                <time datetime="<%= article.date.strftime("%B %d, %Y") %>">
                  <%= article.date.strftime("%B %d, %Y") %>
                </time>
              </div>
              <div class="preview">
                <%= article.summary %>
              </div>
              <%= link_to 'Read more…', article, class: "preview-link" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </section>

  <section>
    <div class="flex space-between items-center">
      <h2>Today I Learned</h2>
      <%= link_to "View All",
        "https://til.hashrocket.com/authors/andrewvogel",
        rel: "noopener noreferrer",
        target: "_blank",
        title: "View TILs by Andrew Vogel on til.hashrocket.com",
        class: "view-all"
      %>
    </div>

    <ul>
      <%- tils.each do |til| %>
        <li>
          <div class="flex space-between">
            <span>
              <%= link_to h(til.title),
                til.permalink,
                title: "Today I Learned - " + til.title,
                rel: "noopener noreferrer",
                target: "_blank"
              %>
              <span class="hashtag">
                <%= "#" + til.category.upcase %>
              </span>
            </span>
            <time datetime="<%= til.created_at %>">
              <%= til.created_at %>
            </time>
          </div>
        </li>
      <% end %>
    </ul>

  </section>
</main>
