---
title: Andrew Vogel - Blog
---
<%= stylesheet_link_tag 'blog' %>
<%= partial "fixed_top_header" %>

<div class="container">
  <div class="blog-posts animated fadeInUp">
    <%- blog_posts.each do |post| %>
      <article class="blog">
        <h3><a href="<%= post.permalink %>" target="_blank" rel="noopener noreferrer"><%= h post.title %></a></h3>
        <p><a href="<%= post.permalink %>" target="_blank" rel="noopener noreferrer"><%= post.source %></a></p>
        <div class="post-metadata">
          <div class="category"><%= post.category.presence || "Blog" %></div>
          <div class="date"><%= post.created_at %></div>
        </div>
      </article>
    <% end %>
  </div>
</div>
<%= partial "footer" %>
