---
hardware:
  - title: At home
    content:
      - 2020 Macbook Pro 13"  
  - title: At work
    content: 
      - 2018 Mac Mini
      - 2017 Macbook Pro 15"
  - title: Audio
    content: 
      - Sonos One
      - Sony 1000MX2
      - Ikea Symfonisk Bookshelf Speaker
      - Apple Airpods 
  - title: Keyboards
    content:
      - HHKB
      - GMMK Pro w/ Kailh Purples
      - Rama Kara w/ NK Creams
editors: 
  - VIM/NVIM
apps: 
  - Slack
  - Notes
  - 1Password
  - Alfred
  - Bartender
  - VLC
  - Amethyst
---

<div class="container">
  <%= partial "header" %>
  <div class="animated fadeInRight uses">
    <h1>Uses</h1>
    <p>
      I'm a passionate technologist and I always geek out on cool hardware and software. This is not an exhaustive list. Rather, these are the items you can find on my desk or within arms reach while I'm working.
    </p>
    <h2>Hardware</h2>
    <ul>
      <%- current_page.data.hardware.each do |hardware| %>
        <li>
          <b><%= hardware.title %>:</b> <%= hardware.content.join(', ') %>
        </li>
      <% end %>
    </ul>
    <h2>Software</h2>
    <ul>
      <li><b>Terminal:</b> iTerm & <a href="https://github.com/hashrocket/dotmatrix" target="_blank" rel="noopener noreferrer">dotmatrix by Hashrocket</a></li>
      <li>
        <b>Text Editor:</b> <%= current_page.data.editors.join(' & ') %> 
      </li>
      <li>
        <b>Other:</b> <%= current_page.data.apps.join(', ') %>
      </li>
    </ul>
  </div>
</div>
<%= partial "footer" %>
